# Miscellaneous
*.class
*.log
*.pyc
*.swp
.buildlog/
.history



# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/

app.*.symbols

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
cmake-build-*/

# Android related
**/android/app/src/main/res/values/strings.xml
**/android/local.properties
**/android/key.properties
**/android/app/*.jks
**/android/app/*.keystore
**/android/app/*.pub
**/android/app/google-services.json

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.[mh]
